@model Eticaret.Dto.Kategori.KategoriEditDto

@{
    ViewBag.Title = "Kategori";
    ViewBag.Breadcrumb = "<li class='breadcrumb-item active'>Kategoriler</li><li class='breadcrumb-item active'>Detay</li>";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        @Html.LabelFor(model => model.Adi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Adi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Adi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.UstKategoriId, htmlAttributes: new { @class = "control-label col-md-4" })
      
        <div class="col-md-10">
            @if (Request["ustKategoriId"] == null)
            {
                @Html.DropDownList("UstKategoriId", null, htmlAttributes: new { @class = "form-control" })
            }
            else
            {
                @Html.DropDownList("UstKategoriId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
            }
        </div>
      
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kaydet" class="btn btn-outline-success" />
            <a href="/Yonetim/Kategoriler/" value="Kaydet" class="btn btn-outline-danger">Listeye Geri Dön</a>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
